<h1>Restaurant <%= @restaurant.name %></h1>

<h2> <%= @restaurant.address %></h2>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li><div class="card"><%= review.content %> <%= review.rating %> </div></li>
  <% end %>
</ul>

<%= link_to "add review", reviews_new_path %>
